
html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e7e9eb;
}
.top_navigation {
    overflow: hidden;
    background-color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
}

.top_navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top_navigation a:hover {
    background-color: #ddd;
    color: black;
}

.top_navigation a.active {
    background-color: #04AA6D;
    color: white;
}

.top_navigation .icon {
    display: none; 
}

@media screen and (max-width: 600px) {
    .top_navigation a:not(:first-child) {display: none;}
    .top_navigation a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .top_navigation.responsive {position: relative;}
    .top_navigation.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
.top_navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
#top_heading {
    position: relative;
    top: 60px;
    padding: 20px;
    margin: 80px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}
#gallery {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
}