
html {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.top_navigation {
    overflow: hidden;
    background-color: #333;
}

.top_navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top_navigation a:hover {
    background-color: #ddd;
    color: black;
}

.top_navigation a.active {
    background-color: #04AA6D;
    color: white;
}

.top_navigation .icon {
    display: none; 
}

@media screen and (max-width: 600px) {
    .top_navigation a:not(:first-child) {display: none;}
    .top_navigation a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .top_navigation.responsive {position: relative;}
    .top_navigation.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
.top_navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}